* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  min-height: 100vh;
}

body {
  display: grid;
  grid-template-rows: auto auto auto;
}

.nav-bar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: antiquewhite;
  border-bottom: 1px solid black;
}

.nav-bar h1 {
  text-align: center;
  font-size: 2rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.search-container input {
  width: 40%;
  height: 2.5rem;
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px;
}

.card-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 20px;
}

.user-image {
  margin-top: 20px;
}

.user-info {
  margin-top: 20px;
}

.user-info span {
  border-radius: 5px;
  padding: 5px;
  position: relative;
  left: 50px;
  margin: 10px;
  font-weight: 700;
}

.user-info .blue,
.span-elements .blue {
  background-color: cornflowerblue;
}

.user-info .gray,
.span-elements .gray {
  background-color: lightgrey;
}

.user-info .green {
  background-color: green;
}

.user-info .lightgreen,
.span-elements .lightgreen {
  background-color: lightgreen;
}

.user-info ul {
  margin-top: 70px;
}

.user-info-ul li {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  list-style-type: none;
}

.profile-btn button {
  text-decoration: none;
  color: white;
  background-color: cornflowerblue;
  font-weight: 900;
  font-size: 1rem;
  border-radius: 5px;
  position: relative;
  left: 50px;
  width: 91%;
  height: 2.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile-btn button:hover {
  cursor: pointer;
}

.main-container h4 {
  display: none;
  font-size: 2rem;
  text-align: center;
}

.main-container #user-repos {
  margin-bottom: 100px;
}

.user-repo-info {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
}

.user-repo-info a {
  text-decoration: none;
  font-weight: 900;
}

.span-elements {
  margin: 5px;
}

.span-elements span {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

main .alert-danger {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 2px;
  position: relative;
  top: 100px;
  width: 50%;
  margin: 0 auto;
}

.footer {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornsilk;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 45px;
  width: 100%;
}

.footer span {
  margin: 10px;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .card-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
