@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  color: #303030;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100vh;
  background: rgb(221, 235, 242);
  background: linear-gradient(
    90deg,
    rgba(221, 235, 242, 1) 9%,
    rgba(255, 255, 255, 1) 98%
  );
}

body {
  display: grid;
  grid-template-rows: auto auto 40px;
}

/* HEADER */
h1 {
  text-align: center;
  font-size: 3.5rem;
}

h3 {
  text-align: center;
}

/* MAIN */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar {
  margin-top: 5em;
  margin-bottom: 3em;
  width: 60%;
  position: relative;
}

.search-bar .fa-search {
  position: absolute;
  left: 1.25rem;
  top: 1.3rem;
  font-size: 1.5rem;
  color: gray;
}

.search-bar input {
  width: 100%;
  height: 3.5em;
  padding-left: 3.5rem;
  font-size: 1.25rem;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-appearance: none;
  appearance: none;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 1rem;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 43%,
      #000 45%,
      #000 55%,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      #000 45%,
      #000 55%,
      transparent 57%,
      transparent 100%
    );
}

#user-profile,
#user-repos {
  padding: 3em;
}

.card-body {
  display: flex;
  gap: 1em;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 3em;
}

.user-image img {
  width: 30em;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: 100%;
}

.user-stats {
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-stats span {
  border-radius: 5px;
  padding: 1em;
  margin: 0.2em;
  font-size: 1rem;
  font-weight: 700;
}

.user-stats .blue,
.span-elements .blue {
  background-color: cornflowerblue;
}

.user-stats .gray,
.span-elements .gray {
  background-color: lightgrey;
}

.user-stats .green {
  background-color: green;
}

.user-stats .lightgreen,
.span-elements .lightgreen {
  background-color: lightgreen;
}

.user-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.user-info ul {
  margin-top: 5em;
}

.user-info-ul li {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
  list-style-type: none;
}

.btn-wrapper {
  margin: 0 auto;
}

.profile-btn button {
  text-decoration: none;
  background-color: lightblue;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  box-sizing: content-box;
  width: auto;
  padding: 0.8em 1em 1em 1em;
  text-align: center;
  height: 1em;
  transition: background-color 0.2s ease-in;
}

.profile-btn button:hover {
  cursor: pointer;
  background-color: white;
}

.profile-btn button:active {
  transform: translateY(4px);
}

.main-container h4 {
  display: none;
  font-size: 2rem;
  text-align: center;
}

.main-container #user-repos {
  margin-bottom: 6em;
}

.user-repos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-repo-info {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
}

.user-repo-info a {
  text-decoration: none;
  font-weight: 900;
}

.span-elements {
  margin: 1em;
}

.span-elements span {
  padding: 0.5em;
  margin: 1em;
  border-radius: 5px;
}

main .alert-danger {
  background-color: red;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2em;
}

footer {
  font-weight: 600;
  bottom: 0;
  text-align: center;
}

/* Phone */
@media screen and (min-width: 320px) {
  html {
    font-size: 70%;
  }

  .card-body {
    width: 100%;
    flex-direction: column;
  }

  .user-image img {
    width: 100%;
  }

  .user-info-ul {
    position: relative;
    right: 3em;
  }
}

/* Tablet */
@media screen and (min-width: 576px) {
  html {
    font-size: 90%;
  }

  .card-body {
    flex-direction: column;
  }

  .user-image img {
    width: 100%;
  }

  .user-info-ul {
    position: relative;
    right: 1em;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  html {
    font-size: 100%;
  }

  .card-body {
    flex-direction: row;
  }

  .user-image img {
    width: 30em;
  }
}
